<!DOCTYPE html>
<html >
<head>
    <title>Angular Dart Enterprise Seed</title>
    <link rel="stylesheet" href="css/bootstrap-3.1.1.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body ng-app ng-cloak>

<h1>Angular Dart <small>Enterprise Seed</small></h1>
    <h3>The Final {{phrase}}
        <span ng-if="phrase.length > 0"> <br /><br /><br /><br /><br /></span>
        <input type="text" name="phrase" ng-model="phrase">
    </h3>

    <script type="application/dart" src="main.dart"></script>
    <script type="text/javascript" src="packages/browser/dart.js"></script>
</body>
</html>
